<% if @page_number > 1 || @items_count > (@page_number * items_per_page) %>
<p class="pagination">
  <% if @page_number > 1 %>
    <%= link_to  '&laquo; Nieuwer',
                  @page_number == 2 ? root_url : url_for(:page => @page_number - 1),
                  :class => 'back' %>
  <% end %>
  <% if @items_count > (@page_number * items_per_page) %>
    <%= link_to   'Ouder &raquo;',
                  url_for(:page => @page_number + 1),
                  :class => 'forward' %>
  <% end %>
</p>
<% end %>
