<% @front_page  = true %>
<%= render :partial => 'items/paginator' if @page_number > 1 %>

<% @items.group_by{ |item| item.created_at.to_date }.each do |date, items| %>
  <h2 class="date"><%= date.strftime("%d %B, %Y") %></h2>
  <ul class="items">
    <%= render :partial => 'item', :collection => items %>
  </ul>
<% end %>

<%= render :partial => 'items/paginator' %>